<br>
<br>

<div class="container">
  <div class="row">
   
    <div class="col-md-12 col-md-offset-6">
        <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <div class="card-text">
                

                 <p> The exam can only be taken once, when started and questions are displayed student must
                  submit the answers or they fail. (They will need new invitation to take the exam again)</p>
                 <p> - The exam will be one page with 3 programming questions, timed for 120 minutes (2 hours).</p>
                 <p>- Click start to begin. </p>

              </div>
              <button class="btn btn-primary" (click)="startExam()">Start exam</button>
            </div>
        
          </div>
    </div>
  </div>
</div>
