<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Staff" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div> <i class="sign fa fa-plus-square fa-2x" aria-hidden="true" (click)="openDialog()"></i> </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th> isActive </th>
                <th> Actions </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let human of staff; let num = index">
                <td> {{num+1}}  </td>
                <td>  {{human.name}} </td>
                <td>   {{human.email}} </td>
                <td> <mat-slide-toggle [checked]="human.isActive" (change)="onStatusChange($event,human)"> </mat-slide-toggle>
                     </td>
                <td> <i class="fas fa-trash" (click)="onDelete(human)"> </i> &nbsp;
                     <i class="far fa-edit"></i>  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Student">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div> <i class="sign fa fa-plus-square fa-2x" aria-hidden="true" (click)="openDialog()"></i> </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th> isActive </th>
                      <th> Test Status </th>
                      <th> Actions </th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let human of students; let num = index">
                      <td> {{num+1}}  </td>
                      <td>  {{human.name}} </td>
                      <td>   {{human.email}} </td>
                      <td> <mat-slide-toggle [checked]="human.isActive" (change)="onStatusChange($event,human)"> </mat-slide-toggle>
                           </td>
                           <td><button class="btn btn-info" (click)="openReviewTestDialog(human)" [appReviewTest]="human.status">{{human.status}}</button></td>
                      <td> <i class="fas fa-trash" (click)="onDelete(human)"> </i> &nbsp;
                           <i class="far fa-edit"></i>  &nbsp;
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
         </mat-tab>
</mat-tab-group>