<router-outlet>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        
        </ul>
      </div>
    </nav>
  
  </router-outlet>

 
  <div class="card text-center">
   
      <div class="card-body">
        <h5 class="card-title">Students status  List</h5>
        <p class="card-text">send emails and views the progress of students.</p>
        
      </div>
   
    </div>
    <br>
<div class="container">

  
 
  <div class="row">
   
<table class="table table-bordered ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">Email</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users index as i" [ngSwitch]="user.status" >
      <th scope="row">{{i+1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td *ngSwitchCase="'sent'"><span class="badge badge-primary">Sent</span></td>
      <td *ngSwitchCase="'answered'"><span class="badge badge-info">Answered</span></td>
      <td *ngSwitchCase="'pass'"><span class="badge badge-success">finished: Pass</span> </td>
      <td *ngSwitchCase="'fail'"><span class="badge badge-danger">finished: Fail</span> </td>
      <td *ngSwitchDefault><button class="btn btn-primary btn-sm" (click)="sendMail(user)" >Send Mail</button> </td>
    </tr>
 
  </tbody>
</table>

  </div>
</div>
