<h2 mat-dialog-title>Add a new Staff member</h2>
<hr>
<mat-dialog-content>
  
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div formGroupName="addDialog">
            <div class="form-group">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="username">
                  </div>
              <label for="email">E-Mail</label>
              <input type="text" class="form-control" id="email" formControlName="email" placeholder="email@email.com">
              <div *ngIf="!myForm.get('addDialog').get('email').valid">
                Invalid Email
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="******">
            </div>
          </div>
        </form>
            <hr>
          </div>
        </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn btn-warning"(click)="close()">Close</button> &nbsp;
    <button  type="submit" class="btn btn-primary" [disabled]="!myForm.valid" (click)="save()">Save</button>
</mat-dialog-actions>
